<% include ../partials/header %>

<div class="row">
	<div class="col-md-3">
		<p class="lead">YelpCamp</p>
		<div class="list-group">
			<li class="list-group-item active">Info 1</li>
			<li class="list-group-item">Info 2</li>
			<li class="list-group-item">Info 3</li>
		</div>
		<div id="map"></div>
	</div>
	<div class="col-md-9">
		<div class="thumbnail">
			<img class="img-responsive" src="<%= campground.image %>">
			<div class="caption-full">
				<h4 class="pull-right">$<%= campground.price %>/night</h4>
				<h4><a><%= campground.name %></a></h4>
				<p><%- campground.description %></p>
				<div class="row display-flex">
					<div class="col-md-8 my-auto">
						<div class="logoCont center-block">
							<em>Submitted by: <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
						</div>
					</div>
					<div class="col-md-4 text-right">
						<span class="description"><%= data.weather[0].description %></span>
						<%
							if (data.weather[0].id >= 200 && data.weather[0].id < 300) {
								weathercondition = "http://openweathermap.org/img/wn/11d@2x.png";					
							} else if (data.weather[0].id >= 300 && data.weather[0].id < 400) {
								weathercondition = "http://openweathermap.org/img/wn/09d@2x.png";				
							} else if (data.weather[0].id >= 500 && data.weather[0].id < 505) {
								weathercondition = "http://openweathermap.org/img/wn/10d@2x.png";
							} else if (data.weather[0].id == 511) {
								weathercondition = "http://openweathermap.org/img/wn/13d@2x.png";
							} else if (data.weather[0].id >= 520 && data.weather[0].id < 532) {
								weathercondition = "http://openweathermap.org/img/wn/09d@2x.png";
							} else if (data.weather[0].id >= 600 && data.weather[0].id < 700) {
								weathercondition = "http://openweathermap.org/img/wn/13d@2x.png";
							} else if (data.weather[0].id >= 700 && data.weather[0].id < 800) {
								weathercondition = "http://openweathermap.org/img/wn/50d@2x.png";
							} else if (data.weather[0].id == 800) {
								weathercondition = "http://openweathermap.org/img/wn/01d@2x.png";
							} else if (data.weather[0].id == 801) {
								weathercondition = "http://openweathermap.org/img/wn/02d@2x.png";
							} else if (data.weather[0].id == 802) {
								weathercondition = "http://openweathermap.org/img/wn/03d@2x.png";
							} else {
								weathercondition = "http://openweathermap.org/img/wn/04d@2x.png";
							}
						%>
						<img class="weathercondition" src="<%= weathercondition %>" alt="condition">

						<%  
							if ((data.main.temp - 273.15)<=-30) {
								tempcolor = "purple";					
							} else if ((data.main.temp - 273.15)<=-20 && (data.main.temp - 273.15)>-30) {
								tempcolor = "darkblue";					
							} else if ((data.main.temp - 273.15)<=-10 && (data.main.temp - 273.15)>-20) {
								tempcolor = "blue";
							} else if ((data.main.temp - 273.15)<=0 && (data.main.temp - 273.15)>-10) {
								tempcolor = "lightblue";
							} else if ((data.main.temp - 273.15)<=10 && (data.main.temp - 273.15)>0) {
								tempcolor = "green";
							} else if ((data.main.temp - 273.15)<=20 && (data.main.temp - 273.15)>10) {
								tempcolor = "yellow";
							} else if ((data.main.temp - 273.15)<=30 && (data.main.temp - 273.15)>20) {
								tempcolor = "orange";
							} else {
								tempcolor = "red";
							}
						%>
						<span class="temperature <%= tempcolor %>"><%= (data.main.temp - 273.15).toFixed(1) %>°C</span>
					</div>
				</div>
				<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
				<a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
				<form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
					<button class="btn btn-danger">Delete</button>
				</form>
				<% } %>
			</div>
		</div>
		<div class="well">
			<div class="text-right">
				<a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
			</div>
			<hr>
			<% campground.comments.forEach((comment) => { %>
				<div class="row">
					<div class="col-md-12">
						<strong><%= comment.author.username %></strong>
						<span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
						<p>
							<%= comment.text %>
						</p>
						<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
						<form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
							<input type="submit" class="btn btn-xs btn-danger" value="Delete">
						</form>
						<% } %>
					</div>
				</div>
			<% }) %>
		</div>
	</div>
</div>
<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtX1XSfohwDHAyXPyQAKE7lkSuK8qWJZo&callback=initMap"></script>

<% include ../partials/footer %>